<br>
<br>
<h4>Sub-Einträge</h4>
<hr>

<ng-container *ngIf="eintraege?.length == 0">
  <div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Entschuldigen Sie</h4>
    <p>Aktuell ist kein Subeintrag vorhanden</p>
  </div>
</ng-container>

<ng-container *ngFor="let eintrag of eintraege" class="post">
  <ul class="list-group">
    <li class="list-group-item" >
      <span>  <button id="list_b" class="btn btn-outline-secondary button button--remove" (click)="onViewSubEintrag(eintrag)"> {{eintrag.titel}} </button> </span>
      <span id="delete"> <button type="button" class="btn btn-secondary btn-sm" (click)=onRemoveSubEintrag(eintrag)>Delete</button> </span>
    </li>
  </ul>
</ng-container>
