<!--<ng-container *ngIf="eintrag">-->
  <!--<h1> {{eintrag.titel}} </h1>-->
  <!--<hr>-->
  <!--<div>-->
  <!--<p class="text-justify">-->
    <!--{{eintrag.text}}-->
  <!--</p>-->
  <!--</div>-->
<!--</ng-container>-->

<h1> {{eintrag.titel}} </h1>
<hr>
<button type="button" class="btn btn-secondary btn-sm" (click)="onCreateSubEintrag(eintrag)">Sub-Eintrag erstellen</button>
<br>
<br>
<form [formGroup]="editForm" (ngSubmit)="doSaveEintrag(eintrag)">
  <div class="form-group input-group mb-3">
    <input type="text" id="eintrag_titel"
           value="titel"
           formControlName="titel"
           class="form-control"
           aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <div class="form-group input-group mb-3">
    <textarea class="form-control"
              id="eintrag_text"
              rows="7"
              formControlName="text"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-info">Save</button>
</form>
