<router-outlet></router-outlet>


<div class="container">

  <h1>Wiki</h1>

  <button class="btn btn-outline-secondary button button--remove"  routerLink="/create" routerLinkActive="active">Neuer Eintrag</button>

  <br>
  <br>

  <div class="alert alert-success" role="alert" *ngIf="createSuccessful">
    Passenger created succsessfull! <a routerLink="/passengers" routerLinkActive="active" class="alert-link">Back to
    passenger overview</a>
  </div>

  <!--Nachricht wenn kein Passenger in DB-->
  <div *ngIf="eintraege?.length == 0">
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">Entschuldigen Sie</h4>
      <p>Aktuell ist kein Eintrag vorhanden</p>
    </div>
  </div>

  <ng-container *ngFor="let eintrag of eintraege">
    <ul class="list-group">
      <li class="list-group-item">{{eintrag.titel}}</li>
    </ul>
  </ng-container>

</div>
